<!DOCTYPE html>
<html lang="en" data-th-fragment="page(title, pageStyle, content, pageScript)">

<head>
  <th:block th:replace="/fragments/head :: head" />
  <title th:replace="${title}?:_" th:include="fragments/attributes :: siteTitle" />
  <style th:replace="${pageStyle}?:_">
  </style>
</head>

<body>
  <nav th:include="/fragments/nav :: nav" class="navbar navbar-expand-sm navbar-dark  bg-dark"></nav>
  <main th:include="${content}?:_" role="main" class="flex-shrink-0" />
  <footer th:include="/fragments/footer :: footer" class="footer mt-auto py-3" />
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <th:block th:replace="${pageScript}?:_" />
</body>

</html>